<table>
  <tbody>
    <tr><th>Repository Root</th><td><input type="text" id="repository_root" value="<%= settings['repository_root'] %>" name="settings[repository_root]"/></td></tr>
    <tr><th>GitHub User</th><td><input type="text" id="github_user" value="<%= settings['github_user'] %>" name="settings[github_user]"/></td></tr>
    <tr><th>GitHub Token</th><td><input type="text" id="github_token" value="<%= settings['github_token'] %>" name="settings[github_token]"/></td></tr>
  </tbody>
</table>
